.search-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form {
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form input {
  width: calc(100% - 50px);
  height: 50px;
  padding: 10px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 17px;
  border: 0;
  background-color: #baddd2;
}

.search-form input:hover,
.search-form input:focus {
  outline: 0;
  background-color: #fff;
}

.search-form button {
  width: 50px;
  height: 50px;
  padding: 8px;
  background-color: #4caf50;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-form button svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-form button:hover,
.search-form button:focus {
  background-color: #1dd3b0;
  outline: 0;
}

.search-form button:hover svg,
.search-form button:focus svg {
  fill: #04534b;
}
